<ion-grid class="options">
    <ion-row>
        <ion-col>
            <div>
                <button (click)="navHome()">
                    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                    <label>Home</label>
                </button>
                <button>
                    <i class="fa fa-handshake-o fa-1-5x" aria-hidden="true"></i>
                    <label>Matches</label>
                </button>
                <button (click)="randomProfile()">
                    <i class="fa fa-users fa-1-5x" aria-hidden="true"></i>
                    <label>Profiles</label>
                </button>
                <button>
                    <i class="fa fa-bell-o fa-1-5x" aria-hidden="true"></i>
                    <label>Nofication</label>
                </button>
                <button>
                    <i class="fa fa-search fa-1-5x" aria-hidden="true"></i>
                    <label>Search</label>
                </button>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
